body {
  background-color: #acbda1;
}

.header {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background-color: #f8f9fa;
}
h1 {
  text-align: center;
  font-style: italic;
}
img {
  height: auto;
  padding: 20px;
  width: 50%;
  float: left;
}

.site-summary {
  width: 50%;
  padding: 20px;

  float: left;
  text-align: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

.result {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.recipe {
  display: table;
  width: 50%;
  padding: 10px;
}

.card {
  display: table-cell;
}

#submitBtn,
#submitWineBtn,
#cocktail,
#movie {
  border-radius: 16px;
  border-color: transparent;
}

#submitBtn:hover,
#submitWineBtn:hover,
#cocktail:hover,
#movie:hover {
  background-color: rgb(199, 157, 85);
}

.movie {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
